@model IEnumerable<RefactorThisAPI.Models.Product>

@{
    ViewBag.Title = "GetAllProducts";
}

<h2 style="text-align: center; font-weight: bold">GET ALL PRODUCTS</h2>
<br />

<p style="text-align: right; font-weight: bold; font-size:large">
    @Html.ActionLink("CREATE NEW PRODUCT", "CreateNewProduct")
</p>
<br />
<br />

<table  class="table" style="table-layout:auto">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryPrice)
        </th>
        <th>ACTIONS</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryPrice)
        </td>
        <td>
            @Html.ActionLink("UPDATE", "UpdateProduct", new { id = item.Id }) |
            @Html.ActionLink("DETAILS", "GetProductById", new { id = item.Id }) |
            @Html.ActionLink("DELETE", "DeleteProduct", new { id = item.Id })
        </td>
    </tr>
}

</table>

<br />
<div>
    Total Products: <h10 style="font-weight: bold;">@Model.Count()</h10>
</div>

